<?xml version="1.0"?>
<launch>
  <arg name="world_file" default="$(find my_robot)/worlds/empty.world"/>
  <arg name="gui" default="true"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_file)"/>
    <arg name="gui" value="$(arg gui)"/>
  </include>
</launch>
